*{

    box-sizing: border-box;

}

nav{

    display: flex;
    flex-direction: row;

}

.row{

    display: flex;
    flex-wrap: wrap;

}

@media screen and (max-width: 700px ){
    
    nav, .row{

        flex-direction: column;

    }

    body {background-color: black;}

}